@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn-primary {
    color: white;
    border-color: #5CB85C;
    background: #5CB85C;
}

.ant-btn-primary:hover {
    color: white;
    border-color: #5CB85C;
    background: #5CB85C;
    opacity: 0.6;
}